* {
  box-sizing: border-box;
  font-weight: 600;
}

hr {
  margin-top: 3em;
  width: 90%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  background-color: $main-bg;
  color: $text-main;

  .pag-title {
    font-family: $font-family-sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $text-main;

    @media (min-width: $mqMinWidth) {
      font-size: 36px;
    }
  }

  .top-container {
    background-color: $bg-img-color;
    @include box-styling($box-shadow-color: white);

    .pag-title {
      font-size: 1.5em;
    }
  }

  .content-grid-1 {
    display: grid;
    height: auto;
    grid-template-rows: 1, 1, 1;
    grid-template-columns: 1, 1, 1;
    margin-top: 1.5em;

    .last-game {
      grid-column: 1;
      grid-row: 1;
      background-image: $bg-img-color, url("../images/CYBER.jpeg");
      @include box-styling($box-shadow-color: yellow);
    }

    .prelast-game {
      grid-column: 2;
      grid-row: 1;
      background-image: $bg-img-color, url("../images/GOW.jpeg");
      @include box-styling($box-shadow-color: red);
    }

    .best-game {
      grid-column: 1;
      grid-row: 2;
      background-image: $bg-img-color, url("../images/BG3.jpeg");
      @include box-styling($box-shadow-color: green)
    }

    .prebest-game {
      grid-column: 2;
      grid-row: 2;
      background-image: $bg-img-color, url("../images/AGUJERO.jpeg");
      @include box-styling($box-shadow-color: Grey)
    }
  }

  .section-title {
    font-family: $font-family-sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
  }
}


.footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  position: sticky;
}