<div class="prefav-game">
    <h2>SOMA</h2>
    <p> En SOMA tendrás que huir. Huir de tu vida corriente, huir del fondo del
        mar, huir de monstruos máquina-mutante asesinos y, sobre todo,
        tendrás que huir de la irreparable percepción de la propia consciencia
        como una generación espontánea datificada susceptible a ser desdoblada
        y almacenada como semilla de numerosas paradojas existencialistas.
        Muy recomendado aunque un poco corto.
    </p>
    <h2>-5/5-</h2>
</div>