@use "sass:color";

// En primer lugar llamamos al sistema de colores de sass y definimos el
// keyframe que usarán los botones del footer con dos pasos,
// la creación de una sombra y el cambio a un color oscuro.

@keyframes botón {
  0% {
    text-shadow: none;
  }

  40% {
    text-shadow: 1px 1px 2px white;
  }

  100% {
    color: rgb(75, 72, 72);
    text-shadow: 2px 2px 5px white, 4px 4px 15px white;

  }
}

// En segundo lugar definimos las variables que usaremos. He mantenido algunas
// de las originarias del boilerplate por su utilidad, adaptando sus nombres a 
// mi proyecto. También he creado alguna otra.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$text-main: #b6b6b6;
$color-main: #000000;
$main-bg: color.scale($color-main, $lightness: 10%);
$bg-img-color: linear-gradient(rgba(0, 0, 1, 0.75), rgba(0, 115, 207, 0.55));
$mqMinWidth: 420px;

// A continuación creamos un mixin que dará estilo a las celdas de cada juego,
// incluidos los headers secundarios de cada uno.

@mixin box-styling($box-shadow-color: black) {
  width: auto;
  max-width: 95%;
  height: 100%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  background-color: $bg-img-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px $box-shadow-color,
    0 2px 4px -1px $box-shadow-color;

  h2 {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 5px $box-shadow-color;
  }
}

// Y para terminar, creamos otro mixin para los dos botones del footer 
// Así como el estilo que tendrán en su estado "hover" y "active"

@mixin button() {
  width: 50%;
  height: 90%;
  font-size: 24px;
  color: $text-main;
  background: none;
  border: none;
}

@mixin button-hover() {
  color: rgb(75, 72, 72);
  text-shadow: 2px 2px 5px white, 4px 4px 15px white;
  animation: "botón" 500ms linear;



}

@mixin button-active() {
  color: white;
  text-shadow: inset 2px 2px 2px black;
}